@charset "UTF-8";
.markdown-alert {
    padding: 8px 16px;
    margin-bottom: 16px;
    color: inherit;
    border-left: .25em solid var(--border-color)
}

.markdown-alert>:first-child {
    margin-top: 0
}

.markdown-alert>:last-child {
    margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: var(--base-text-weight-medium, 500);
    align-items: center;
    position: relative
}

.markdown-alert .markdown-alert-title:before {
    content: " ";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-position: left;
    background-repeat: no-repeat
}

@media print {
    .markdown-alert .markdown-alert-title:before {
        display: none
    }
}

.markdown-alert.markdown-alert-note {
    border-left-color: #2f81f7
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: #2f81f7
}

.markdown-alert.markdown-alert-note .markdown-alert-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%232f81f7' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/%3E%3C/svg%3E")
}

.markdown-alert.markdown-alert-important {
    border-left-color: #a371f7
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: #a371f7
}

.markdown-alert.markdown-alert-important .markdown-alert-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23a371f7' d='M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'/%3E%3C/svg%3E")
}

.markdown-alert.markdown-alert-tip {
    border-left-color: #3fb950
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: #3fb950
}

.markdown-alert.markdown-alert-tip .markdown-alert-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%233fb950' d='M8 1.5c-2.363 0-4 1.69-4 3.75 0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a8.456 8.456 0 0 0-.542-.68c-.084-.1-.173-.205-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25 2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259-.095.115-.184.22-.268.319-.207.245-.383.453-.541.681-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489.203-.292.45-.584.673-.848.075-.088.147-.173.213-.253.561-.679.985-1.32.985-2.304 0-2.06-1.637-3.75-4-3.75ZM5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5ZM6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z'/%3E%3C/svg%3E")
}

.markdown-alert.markdown-alert-warning {
    border-left-color: #d29922
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: #d29922
}

.markdown-alert.markdown-alert-warning .markdown-alert-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23d29922' d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z'/%3E%3C/svg%3E")
}

.markdown-alert.markdown-alert-caution {
    border-left-color: #f85149
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: #f85149
}

.markdown-alert.markdown-alert-caution .markdown-alert-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23f85149' d='M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/%3E%3C/svg%3E")
}


.custom-container.hint {
    position: relative;
    transition: background var(--color-transition), border-color var(--color-transition), color var(--color-transition);
    margin: 1rem 0;
    padding: .25rem 1rem;
    border-left-width: .3rem;
    border-left-style: solid;
    border-radius: .5rem;
    color: inherit;
    border-color: var(--hint-border-color);
    background: var(--hint-bg-color)
}

@media print {
    .custom-container.hint {
        page-break-inside: avoid
    }
}

.custom-container.hint .custom-container-title {
    position: relative;
    font-weight: 600;
    line-height: 1.25;
    color: var(--hint-title-color);
    padding-left: 1.5rem
}

@media print {
    .custom-container.hint .custom-container-title {
        padding-left: 0
    }
}

.custom-container.hint .custom-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 16'%3E%3Cpath fill='%23003100' fill-rule='evenodd' d='M6.5 0C3.48 0 1 2.19 1 5c0 .92.55 2.25 1 3 1.34 2.25 1.78 2.78 2 4v1h5v-1c.22-1.22.66-1.75 2-4 .45-.75 1-2.08 1-3 0-2.81-2.48-5-5.5-5zm3.64 7.48c-.25.44-.47.8-.67 1.11-.86 1.41-1.25 2.06-1.45 3.23-.02.05-.02.11-.02.17H5c0-.06 0-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44 6.78 2 5.65 2 5c0-2.2 2.02-4 4.5-4 1.22 0 2.36.42 3.22 1.19C10.55 2.94 11 3.94 11 5c0 .66-.44 1.78-.86 2.48zM4 14h5c-.23 1.14-1.3 2-2.5 2s-2.27-.86-2.5-2z'/%3E%3C/svg%3E");
    content: " ";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-position: left;
    background-repeat: no-repeat
}

html[data-theme=dark] .custom-container.hint .custom-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 16'%3E%3Cpath fill='%23e6f6e6' fill-rule='evenodd' d='M6.5 0C3.48 0 1 2.19 1 5c0 .92.55 2.25 1 3 1.34 2.25 1.78 2.78 2 4v1h5v-1c.22-1.22.66-1.75 2-4 .45-.75 1-2.08 1-3 0-2.81-2.48-5-5.5-5zm3.64 7.48c-.25.44-.47.8-.67 1.11-.86 1.41-1.25 2.06-1.45 3.23-.02.05-.02.11-.02.17H5c0-.06 0-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44 6.78 2 5.65 2 5c0-2.2 2.02-4 4.5-4 1.22 0 2.36.42 3.22 1.19C10.55 2.94 11 3.94 11 5c0 .66-.44 1.78-.86 2.48zM4 14h5c-.23 1.14-1.3 2-2.5 2s-2.27-.86-2.5-2z'/%3E%3C/svg%3E")
}

@media print {
    .custom-container.hint .custom-container-title:before {
        display: none
    }
}

.custom-container.hint p {
    line-height: 1.5
}

.custom-container.hint a {
    color: var(--c-brand, #3eaf7c)
}


.hint-container {
    position: relative;
    transition: background var(--vp-ct), border-color var(--vp-ct), color var(--vp-ct)
}

@media print {
    .hint-container {
        page-break-inside: avoid
    }
}

.hint-container .hint-container-title {
    position: relative;
    font-weight: 600;
    line-height: 1.25
}

.hint-container.important,
.hint-container.info,
.hint-container.note,
.hint-container.tip,
.hint-container.warning,
.hint-container.caution {
    margin: 1rem 0;
    padding: .25rem 1rem;
    border-inline-start-width: .3rem;
    border-inline-start-style: solid;
    border-radius: .5rem;
    color: inherit
}

@media (max-width: 419px) {

    .hint-container.important,
    .hint-container.info,
    .hint-container.note,
    .hint-container.tip,
    .hint-container.warning,
    .hint-container.caution {
        margin-inline: -.75rem
    }
}

.hint-container.important .hint-container-title,
.hint-container.info .hint-container-title,
.hint-container.note .hint-container-title,
.hint-container.tip .hint-container-title,
.hint-container.warning .hint-container-title,
.hint-container.caution .hint-container-title {
    padding-inline-start: 1.75rem
}

@media print {

    .hint-container.important .hint-container-title,
    .hint-container.info .hint-container-title,
    .hint-container.note .hint-container-title,
    .hint-container.tip .hint-container-title,
    .hint-container.warning .hint-container-title,
    .hint-container.caution .hint-container-title {
        padding-inline-start: 0
    }
}

.hint-container.important .hint-container-title:before,
.hint-container.info .hint-container-title:before,
.hint-container.note .hint-container-title:before,
.hint-container.tip .hint-container-title:before,
.hint-container.warning .hint-container-title:before,
.hint-container.caution .hint-container-title:before {
    content: " ";
    position: absolute;
    top: calc(50% - .6125em);
    inset-inline-start: 0;
    width: 1.25em;
    height: 1.25em;
    background-position: left;
    background-repeat: no-repeat
}

@media print {

    .hint-container.important .hint-container-title:before,
    .hint-container.info .hint-container-title:before,
    .hint-container.note .hint-container-title:before,
    .hint-container.tip .hint-container-title:before,
    .hint-container.warning .hint-container-title:before,
    .hint-container.caution .hint-container-title:before {
        display: none
    }
}

.hint-container.important p,
.hint-container.info p,
.hint-container.note p,
.hint-container.tip p,
.hint-container.warning p,
.hint-container.caution p {
    line-height: 1.5
}

.hint-container.important a,
.hint-container.info a,
.hint-container.note a,
.hint-container.tip a,
.hint-container.warning a,
.hint-container.caution a {
    color: var(--vp-tc)
}

.hint-container.important {
    border-color: var(--important-border-color);
    background: var(--important-bg-color)
}

.hint-container.important>.hint-container-title {
    color: var(--important-title-color)
}

.hint-container.important>.hint-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M512 981.333a84.992 84.992 0 0 1-84.907-84.906h169.814A84.992 84.992 0 0 1 512 981.333zm384-128H128v-42.666l85.333-85.334v-256A298.325 298.325 0 0 1 448 177.92V128a64 64 0 0 1 128 0v49.92a298.325 298.325 0 0 1 234.667 291.413v256L896 810.667v42.666zm-426.667-256v85.334h85.334v-85.334h-85.334zm0-256V512h85.334V341.333h-85.334z' fill='%23a371f7'/%3E%3C/svg%3E")
}

.hint-container.important code {
    background: var(--important-code-bg-color)
}

.hint-container.info {
    border-color: var(--info-border-color);
    background: var(--info-bg-color)
}

.hint-container.info>.hint-container-title {
    color: var(--info-title-color)
}

.hint-container.info>.hint-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z' fill='%234cb3d4'/%3E%3C/svg%3E")
}

.hint-container.info code {
    background: var(--info-code-bg-color)
}

.hint-container.note {
    border-color: var(--note-border-color);
    background: var(--note-bg-color)
}

.hint-container.note>.hint-container-title {
    color: var(--note-title-color)
}

.hint-container.note>.hint-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z' fill='%23ccc'/%3E%3C/svg%3E")
}

.hint-container.note code {
    background: var(--note-code-bg-color)
}

.hint-container.tip {
    border-color: var(--tip-border-color);
    background: var(--tip-bg-color)
}

.hint-container.tip>.hint-container-title {
    color: var(--tip-title-color)
}

.hint-container.tip>.hint-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23009400' d='M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z'/%3E%3C/svg%3E")
}

.hint-container.tip code {
    background: var(--tip-code-bg-color)
}

.hint-container.warning {
    border-color: var(--warning-border-color);
    background: var(--warning-bg-color)
}

.hint-container.warning>.hint-container-title {
    color: var(--warning-title-color)
}

.hint-container.warning>.hint-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M576.286 752.57v-95.425q0-7.031-4.771-11.802t-11.3-4.772h-96.43q-6.528 0-11.3 4.772t-4.77 11.802v95.424q0 7.031 4.77 11.803t11.3 4.77h96.43q6.528 0 11.3-4.77t4.77-11.803zm-1.005-187.836 9.04-230.524q0-6.027-5.022-9.543-6.529-5.524-12.053-5.524H456.754q-5.524 0-12.053 5.524-5.022 3.516-5.022 10.547l8.538 229.52q0 5.023 5.022 8.287t12.053 3.265h92.913q7.032 0 11.803-3.265t5.273-8.287zM568.25 95.65l385.714 707.142q17.578 31.641-1.004 63.282-8.538 14.564-23.354 23.102t-31.892 8.538H126.286q-17.076 0-31.892-8.538T71.04 866.074q-18.582-31.641-1.004-63.282L455.75 95.65q8.538-15.57 23.605-24.61T512 62t32.645 9.04 23.605 24.61z' fill='%23e6a700'/%3E%3C/svg%3E")
}

.hint-container.warning code {
    background: var(--warning-code-bg-color)
}

.hint-container.caution {
    border-color: var(--caution-border-color);
    background: var(--caution-bg-color)
}

.hint-container.caution>.hint-container-title {
    color: var(--caution-title-color)
}

.hint-container.caution>.hint-container-title:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2c5.523 0 10 4.477 10 10v3.764a2 2 0 0 1-1.106 1.789L18 19v1a3 3 0 0 1-2.824 2.995L14.95 23a2.5 2.5 0 0 0 .044-.33L15 22.5V22a2 2 0 0 0-1.85-1.995L13 20h-2a2 2 0 0 0-1.995 1.85L9 22v.5c0 .171.017.339.05.5H9a3 3 0 0 1-3-3v-1l-2.894-1.447A2 2 0 0 1 2 15.763V12C2 6.477 6.477 2 12 2zm-4 9a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4z' fill='%23e13238'/%3E%3C/svg%3E")
}

.hint-container.caution code {
    background: var(--caution-code-bg-color)
}

.hint-container.details {
    position: relative;
    display: block;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    background: var(--detail-bg-color);
    color: var(--detail-text-color);
    transition: background var(--vp-tt), color var(--vp-tt)
}

@media (max-width: 419px) {
    .hint-container.details {
        margin-inline: -.75rem
    }
}

.hint-container.details h4 {
    margin-top: 0
}

.hint-container.details figure:last-child,
.hint-container.details p:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.hint-container.details a {
    color: var(--vp-tc)
}

.hint-container.details code {
    background: var(--detail-code-bg-color)
}

.hint-container.details summary {
    position: relative;
    margin: -1.5rem;
    padding-block: 1.5rem;
    padding-inline: 4rem 1.5rem;
    list-style: none;
    cursor: pointer
}

.hint-container.details summary::-webkit-details-marker {
    display: none
}

.hint-container.details summary::marker {
    color: transparent;
    font-size: 0
}

.hint-container.details summary:before,
.hint-container.details summary:after {
    content: " ";
    position: absolute;
    top: calc(50% - .75rem);
    inset-inline-start: 1.5rem;
    width: 1.5rem;
    height: 1.5rem
}

.hint-container.details summary:before {
    border-radius: 50%;
    background: #ccc;
    transition: background var(--vp-ct), transform var(--vp-tt)
}

html[data-theme=dark] .hint-container.details summary:before {
    background: #555
}

.hint-container.details summary:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,0.5)' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E");
    line-height: normal;
    transition: transform var(--vp-tt);
    transform: rotate(90deg)
}

html[data-theme=dark] .hint-container.details summary:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(255,255,255,0.5)' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E")
}

.hint-container.details[open]>summary {
    margin-bottom: .5em
}

.hint-container.details[open]>summary:after {
    transform: rotate(180deg)
}